<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">PINUS ADMIN</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Event
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Create a new event</a></li>
          <li><a href="#">See all event</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Shop
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Order database</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>