{% extends 'layout/main.html' %}
{% block body %}

<h3>Legend</h3>
<br>
<p class="col-sm-1"><strong>Title</strong></p>
<p class="col-sm-3"><mark>Title of the event</mark></p>

<p class="col-sm-1"><strong>Description</strong></p>
<p class="col-sm-3"><mark>Description of the event</mark></p>

<p class="col-sm-1"><strong>Link</strong></p>
<p class="col-sm-3"><mark>Sign up link, website link</mark></p>

<p class="col-sm-1"><strong>Creation Date</strong></p>
<p class="col-sm-3"><mark>Time the event was created</mark></p>

<p class="col-sm-1"><strong>Active?</strong></p>
<p class="col-sm-3"><mark>Whether the event is currently active. If deactivated, it won't appear to the users</mark></p>

<p class="col-sm-1"><strong>Toggle Active</strong></p>
<p class="col-sm-3"><mark>To activate or deactivate an event</mark></p>

<p class="col-sm-1"><strong>Update</strong></p>
<p class="col-sm-3"><mark>Update the content of an event</mark></p>
<br>

<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th> ID </th>
      <th> Title </th>
      <th> Description </th>
      <th> Link </th>
      <th> Creation Date </th>
      <th> Active? </th>
      <th> Toggle Active </th>
      <th> </th>
    </tr>
  </thead>

  {% for event in events %}
  <tr>
    <td> {{ event.id }} </td>
    <td> {{ event.title }} </td>
    <td> {{ event.description }} </td>
    <td> {{ event.link }} </td>
    <td> {{ event.creationDate }} </td>
    <td class="{% if event.isActive == true %}bg-success{% else %} bg-danger{% endif %}"> {{ event.isActive }} </td>
    {% if event.isActive == true %}
      <td> <a href="{{ url_for('deactivate_event', event_id=event.id)}}">Deactivate</a><td>
    {% else %}
      <td> <a href="{{ url_for('activate_event', event_id=event.id)}}">Activate</a> <td>
    {% endif %}
    <td> <a href="{{ url_for('update_event', event_id=event.id)}}">Update</a> <td>
  </tr>
  {% endfor %}
</table>
{% endblock %}